body {
    background-color: black;
}

.inputs {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.label {
    color: gold;
    font-size: 24;
}

input {
    width: 500px;
    height: 20px;
}

button {
    width: 150px;
    height: 35px;
    color: black;
    background-color: gold;
}
